.main-nav, .navbar {
  transition: all 0.3s ease-in-out;
}

@font-face {
  font-family: 'Nova Cut';
  src: url('../fonts/NovaCut.woff2');
}

@font-face {  
  font-family: 'Livvic-Black';
  src: url('../fonts/Livvic-Black.woff2');
}

@font-face {  
  font-family: 'Livvic-Medium';
  src: url('../fonts/Livvic-Medium.woff2');
}

@font-face {  
  font-family: 'LondrinaSolid-Regular';
  src: url('../fonts/LondrinaSolid-Regular.woff2');
}

@font-face {  
  font-family: 'Livvic-SemiBold';
  src: url('../fonts/Livvic-SemiBold.woff2');
}

@font-face {  
  font-family: 'Livvic-Regular';
  src: url('../fonts/Livvic-Regular.woff2');
}

@font-face {  
  font-family: 'Livvic-Bold';
  src: url('../fonts/Livvic-Bold.woff2');
}

@font-face {  
  font-family: 'LondrinaSolid-Black';
  src: url('../fonts/LondrinaSolid-Black.woff2');
}

@font-face {
  font-family: 'Livvic-BlackItalic';
  src: url('../fonts/Livvic-BlackItalic.woff2');
}

@font-face {
  font-family: 'Livvic-Light';
  src: url('../fonts/Livvic-Light.woff2');
}

@font-face {
  font-family: 'Livvic-LightItalic';
  src: url('../fonts/Livvic-LightItalic.woff2');
}

@font-face {
  font-family: 'Livvic-SemiBoldItalic';
  src: url('../fonts/Livvic-SemiBoldItalic.woff2');
}

@font-face {
  font-family: 'RohzaOne-Regular';
  src: url('../fonts/RozhaOne-Regular.woff2');
}

@font-face {
  font-family: 'Livvic-Italic';
  src: url('../fonts/Livvic-Italic.woff2');
}

/* GENERAL */
body {
  margin: 0;
  padding: 0;
  background-color: #653800;
}

/* HEADER */
.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1350px;
  margin: 0 auto;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  width: 100px;
  height: auto;
}

/* TITRE */
.site-title {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  margin: 0; 
  color: #FFCC8C;
  font-family: 'Nova Cut';
  flex: 1;
}

/* MENU D'ACCUEIL */
.main-nav {
  width: 100%;
  background-color: #FFCC8C;
  border-width: 4px 0px;
  border-style: solid;
  border-color: #FFF0DC;
  padding: 10px 85px 10px 85px;
  margin-top: 40px;
}
.nav-inner {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav .nav-btn {
  display: inline-block;
  padding: 10px 25px;
  background: #FFF0DC;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Livvic-Black', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #653800;
  text-decoration: none;
  transition: all 0.3s ease;
}

.main-nav .nav-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.35);
}

/* ACCESSIBILITÉ + BOUTON NAV-TOGGLE */
.sr-only {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  border:0;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between; 
  gap: 5px;
  align-items: center;
  position: relative;
  margin: 10px 10px 0 auto;
  background: #FFCC8C;
  border: 2px solid #FFF0DC;
  border-radius: 10px;
  padding: 8px 6px;
  cursor: pointer;
}

.nav-toggle .bar {
  display: block;
  width: 28px;
  height: 3px;
  background: #653800;
  border-radius: 2px;
  transition: .3s;
}

.nav-toggle[aria-expanded="true"] .sr-only + .bar {
  transform: translateY(8px) rotate(45deg);
}

.nav-toggle[aria-expanded="true"] .sr-only + .bar + .bar {
  opacity: 0;
}

.nav-toggle[aria-expanded="true"] .sr-only + .bar + .bar + .bar {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-toggle .bar {
  transform-origin: center;
  transition: transform .3s, opacity .3s;
}


/* ==== BANNIÈRE A PROPOS ==== */
.banniere-articles {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  height: 300px; 
  background: url("../images/banniere_fantasy_motif_1440x300_dark.webp") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;
}

.banniere-content-articles h2 {
  margin-left: 80px;
  margin-right: 80px;
  font-family: 'LondrinaSolid-Regular';
  font-size: 128px;
  color: #FFCC8C;
}

/* PAGE ABOUT */ /* AVATAR */

.about-section {
  width: 100%;
  min-height: 100vh;
  background-color: #653800;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 80px;
  box-sizing: border-box;
}

.avatar-container {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ABOUT - TEXTE INTRO */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(0px 0px 0px 0px);
  white-space: nowrap;
  border: 0;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.intro-text {
  max-width: 600px;
  color: #FFF0DC;
  font-family: 'Livvic-SemiBold';
  padding-right: 35px;
}

.intro-quote {
  text-align: center;
  font-size: 43px;
  font-weight: 400;
  line-height: 1.2;
  text-shadow: 2px 2px 4px #422500;
}

.police-speciale-intro {
  font-family: 'RohzaOne-Regular';
  font-size: 150px; 
  font-weight: 500;
  color: #DA9845;
  font-style: normal;
}

.police-speciale-bonjour {
 font-family: 'Livvic-SemiBoldItalic';
 font-size: 65px;
 line-height: 0;
 color: #fff0dccd;
 font-weight: 400;
}

.police-speciale-intro-quoteend {
  font-family: 'RohzaOne-Regular';
  font-size: 150px; 
  font-weight: 500;
  color: #DA9845; 
  font-style: normal;
  text-align: right;
  margin-left: 570px;
  line-height: 0.5;
}

/* TEXTE QUI-SUIS-JE */

.about-qui-suis-je {
  position: relative;
  width: 1279px;
  margin: 100px auto 0 auto;
}

.about-qui-suis-je-title {
  font-family: 'Livvic-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #DA9845;
  text-align: center;
  margin-bottom: 30px;
}

.about-qui-suis-je-description {
  font-family: 'Livvic-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 59px;
  color: #FFF0DC;
  text-align: center;
  margin-bottom: 60px;
}

.about-qui-suis-je-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
}

.qui-suis-je-line {
  display: inline-block;
  width: 152px;
  height: 0;
  border: 3px solid #DA9845;
  transform: rotate(90deg);
}

.about-qui-suis-je-subtext {
  font-family: 'Livvic-Italic';
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #FFCC8C;
  text-align: center;
  max-width: 1012px;
}

/* TEXTE POURQUOI ? */

.why-section {
  max-width: 1279px;
  margin: 100px auto 0 auto;
  text-align: center;
}

.why-title {
  font-family: 'Livvic-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #DA9845;
  margin-bottom: 30px;
}

.why-description {
  font-family: 'Livvic-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 59px;
  color: #FFF0DC;
  margin-bottom: 40px;
}

.why-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 30px;
  margin-left: 230px;
}

.why-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow-line {
  width: 38px;
  height: 0;
  border: 6px solid #DA9845;
  transform: rotate(-90deg);
}

.why-item p {
  font-family: 'Livvic-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: rgba(255, 240, 220, 0.8);
  margin: 0;
}

/* TEXTE TROUVER ICI */

.find-section {
  max-width: 1150px;
  margin: 120px auto;
  padding: 0 20px;
  text-align: center;
}

.find-title {
  font-family: 'Livvic-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #DA9845;
  margin-bottom: 60px;
}

.find-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 30px;
  margin-left: 40px;

}

.find-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow-line {
  width: 38px;
  height: 0;
  border: 6px solid #DA9845;
  transform: rotate(-90deg);
}

.find-item p {
  font-family: 'Livvic-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: rgba(255, 240, 220, 0.8);
  margin: 0;
}

/* TEXTE DERNIERE PAROLE */

.last-words-section {
  padding: 100px 40px;
  text-align: center;
  color: #FFCC8C;
  background-color: #653800;
}

.last-title {
  font-family: 'Livvic-Bold';
  font-size: 64px;
  font-weight: 700;
  color: #DA9845;
  margin-bottom: 30px;
}

.last-quote-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
}

.last-line {
  width: 150px;
  height: 0;
  border: 3px solid #DA9845;
  transform: rotate(90deg);

}

.last-quote {
  font-family: 'Livvic-Italic';
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  color: #FFCC8C;
  max-width: 1000px;
}

.last-conclusion {
  font-family: 'Livvic-SemiBold';
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  max-width: 1256px;
  margin: 0 auto;
  color: #FFCC8C;
}

/* BOUTON BAS DE PAGE */

.about-button-wrapper {
  text-align: center;
  margin-top: 40px;
}

.btn-retour-home {
  display: inline-block;
  width: 257px;
  height: 61px;
  line-height: 61px;
  background-color: #FFCC8C;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #FFF0DC;
  font-family: 'LondrinaSolid-Black';
  font-size: 30px;
  font-weight: 900;
  color: #653800;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-retour-home:hover {
transform: translateY(-5px);
box-shadow: 0 6px 10px #FFF0DC, 0 6px 10px rgba(0, 0, 0, 0.35);
}

/* FOOTER */

.site-footer {
  display: flex;
  justify-content: space-between;
  background-color: #422500;
  height: 323px;
  color: #FFCC8C;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.footer-left {
  width: 575px;
  height: 323px;
  background-color: #422500;
  position: relative;
}

.footer-logo {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-40%, -60%);
  width: 293px;
  height: 293px;
}

.footer-copyright {
  position: absolute;
  right: 20px;
  bottom: -10px;
  font-family: 'Livvic-LightItalic';
  font-size: 20px;
  color: #FFF0DC;
  text-align: right;
}


.footer-right {
  flex: 1;
  background-color: rgba(255, 204, 140, 0.5);
  padding: 30px 20px;
  margin-left: -30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-menu {
  text-align: center;
  font-size: 20px;
  font-family: 'Livvic-Regular';
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 1px;
  margin-left: 30px; 
  margin-top: -120px;
}

.footer-menu a {
  color: #FFCC8C;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}

.footer-separator {
  color: white;
  margin: 0 1px;
  font-size: 20px;
  font-weight: normal;
}

.footer-credit {
  text-align: right;
  font-family: 'Livvic-LightItalic';
  font-weight: 300;
  font-size: 18px;
  color: #FFCC8C;
}

.footer-title {
  font-family: 'Livvic-LightItalic';
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
  color: #FFCC8C;
  text-align: center;
  margin-top: -10px;
  margin-left: 200px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 210px;
}

.footer-socials img {
  width: 65px;
  height: 65px;
}

.footer-mention {
  font-family: 'Livvic-LightItalic';
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #FFCC8C;
  margin-left: 200px;
  margin-bottom: -20px;
}

.footer-socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 8px;
  outline: none;
}

.footer-socials a:focus-visible {
  box-shadow: 0 0 0 3px #FFF0DC, 0 0 0 6px #8F5000;
}

.footer-socials a img {
  width: 65px;
  height: 65px;
  display: block;
}

.footer-socials a:hover img {
  transform: translateY(-3px);
  transition: transform .2s ease;
}

.footer-menu a {
  line-height: 1;
}
.footer-separator {
  opacity: .7;
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-color: #FFCC8C;
  color: #653800;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-family: 'Livvic-Bold';
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  display: none;
  transition: all 0.3s ease;
}

  #backToTop:hover {
  background-color: #653800;
  color: #FFCC8C;
  transform: translateY(-5px);
}
