/* RESPONSIVE TABLETTE (1024px) */

@media (max-width: 1024px) {

 /* TITRE + LOGO */   
  .site-header {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
  }

  .logo {
    width: 80px;
  }

  .site-title {
    font-size: 65px;
  }

 /* MENU D'ACCUEIL */

   .main-nav {
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
  }

  .nav-inner {
    padding: 0 15px;
  }

  .main-nav .nav-btn {
    font-size: 22px; 
    padding: 8px 20px; 
    border-radius: 16px;
  } 

  .banniere-articles {
    margin-top: 70px;
    margin-bottom: 50px;
    background: url("../../images/banniere_fantasy_motif_1440x300_dark.webp") center/cover no-repeat;
  }

  .banniere-content-articles h2 {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 110px;
  }

  /* ARTICLES */

.articles-wrapper {
  gap: 80px;         
  padding: 0 30px;
}

.article {
  width: 42vw;    
  max-width: 420px;  
  height: 420px;     
  flex-shrink: 0;
}

.article-text {
  height: 160px;
  padding: 10px;
}

.article-text h3 {
  font-size: 20px; 
}

.article-text p {
  font-size: 16px;
  line-height: 22px;
}

.article-button {
  font-size: 26px; 
  padding: 10px 20px;
  border-radius: 30px;
  bottom: 15px;
  right: 15px;
}

/* FOOTER */

.site-footer {
  height: 323px;
  flex-wrap: nowrap;
}

.footer-left {
  width: 400px; 
  height: 323px;
}

.footer-logo {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-copyright {
  font-size: 14px;
  right: 15px;
  bottom: 5px;
}

.footer-right {
  flex: 1;
  padding: 20px;
}

.footer-title,
.footer-mention,
.footer-credit {
  font-size: 16px;
  margin: 5px 0;
}

.footer-menu {
  font-size: 16px;
  margin-top: -145px;
  margin-left: 10px;
}

.footer-menu a {
  font-size: 16px;
}

.footer-socials img {
  width: 50px;
  height: 50px;
}

.footer-socials {
  gap: 20px; 
  margin-left: 240px;
}

.footer-title {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-left: 200px;
}

.footer-mention {
  text-align: right;        
  margin-right: 30px;    
  font-size: 14px;         
  margin-bottom: -2px;
 }

/* Bouton Masquer les articles lus */
.article-filter-buttons {
  margin-left: -390px;
}
}

/* RESPONSIVE MOBILE (420px) */

@media (max-width: 420px) {

/* HEADER */

  .nav-toggle { display: inline-flex; }

  .site-header { position: relative; }

  .main-nav { display: none; }

  .nav-toggle[aria-expanded="true"] + .main-nav { 
    display: block; 
  }

  .main-nav {
    position: absolute;
    top: 150px;
    right: 40px;
    width: 85vw;
    max-width: 315px;
    background: #FFCC8C;
    border: 4px solid #FFF0DC;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0,0,0,.25);
    z-index: 1000;
  }
  .nav-inner { padding: 16px; }
  .nav-list { 
    flex-direction: column; 
    gap: 16px; 
    align-items: center;
  }
  .nav-btn {
    display: block;
    font-size: 20px; 
    padding: 8px 20px;
    border-radius: 20px;
    background:#FFF0DC;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
  }

  .site-header {
    padding: 16px;
    gap: 10px;
  }

  .logo { width: 50px; }
  .site-title { font-size: 28px; text-align: center; margin: 0; }
  .titre-desktop { display: none; }
  .titre-mobile { display: inline-block; }

  .main-nav { display: none; }

 .banniere-articles {
  background: url("../../images/banniere_fantasy_motif_1440x300_dark.webp") no-repeat;
  background-size: cover;
  background-position: center;
  height: 120px;
  padding: 0 15px;
  margin: 10px 0 30px;
  box-sizing: border-box;
 }

 .banniere-content-articles {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.banniere-content-articles h2 {
  font-size: 45px;
  line-height: 28px;
  margin: 0;
  white-space: normal; 
  text-align: center;
}

/* ARTICLES */

  .articles-wrapper {
    flex-direction: column;
    gap: 30px;
    padding: 0 15px;
    align-items: center;
  }

  .article {
  width: 305px;
  height: 305px;
  margin: 0 auto 40px auto;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
}

  .article-text {
  height: 120px;
  padding: 10px 15px;  
  gap: 5px;  
}

  .article-text h3 {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  margin-top: -7px;
  margin-left: -5px;
}

  .article-text p {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  margin-top: -5px;
  margin-left: -5px;
}

  .article-button {
  bottom: 10px;
  right: 15px;
  font-size: 20px;
  padding: 6px 20px;
  }

/* BOUTON FIN DE PAGE */

.explorer-button {
  font-size: 25px;
}

  /* FOOTER */
.site-footer {
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  align-items: stretch;
}

.footer-left,
.footer-right {
  flex: 1 1 50%; 
  max-width: 50%;
  box-sizing: border-box;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-menu {
  order: -1;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 130px;
  margin-left: 1px;
}

.footer-menu a {
  font-size: 12px;
  color: #FFF0DC;
  text-decoration: none;
  white-space: nowrap;
}

.footer-separator {
  color: #FFF0DC;
  font-weight: bold;
}

.footer-logo {
  width: 180px;
  height: auto;
  margin: 25px auto;
}

.footer-copyright {
  font-size: 10px;
  text-align: center;
  color: #FFF0DC;
  margin-left: 15px;
  margin-bottom: 4px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.footer-title {
  font-size: 14px;
  padding: 0;
}

.footer-socials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  justify-items: center; 
  width: 100%;          
  max-width: 150px; 
  margin: 45px auto; 
}

.footer-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-socials a img {
  width: 60px;
  height: 60px;
}

.footer-mention {
  font-size: 12px;
  color: #FFCC8C;
  text-align: center;
  margin: 0;
}

#backToTop {
  width: 50px;
  height: 50px;
  font-size: 30px;
}

/* Indicateur Lu pour les articles */
.lu-indicator {
  font-size: 10px;
  margin-top: 2px;
}

/* Bouton Masquer les articles lus */
.article-filter-buttons {
  justify-content: left;
  gap: 20px;
  margin: 30px 90px;
  flex-direction: column;
}

.filter-button {
  padding: 5px 30px;
  font-size: 15px;
  border: none;
}

/* Liste déroulante catégorie */

.filtre-categorie {
  font-size: 20px;
}

#categorie-select {
  font-size: 15px;
}
}